<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Cristian Henao - Link</title>
  <link rel="stylesheet" href="styles.css" />
</head>
<body>
  <div class="page-bg">
    <main class="profile-card">
      <div class="profile-image-wrapper">
        <img
          src="../gif/model.png"
          alt="Foto de Cristian Henao"
          class="profile-image"
        />
      </div>

      <section class="profile-info">
        <h1 class="profile-name">SARA MAMALONA</h1>
        <p class="profile-subtitle">
          Joven emprendedora apasionado por las pasiones.
        </p>
      </section>

      <section class="buttons-wrapper">
        <a href="https://www.tiktok.com/search?q=subir%20reaismo%20a%20imagenes&t=1762029936708" class="service-btn">
          <span class="service-title">TIKTOK</span>
          <span class="service-subtitle">🥵🥵 </span>
        </a>

        <a href="#" class="service-btn">
          <span class="service-title">MY SECRET PAG</span>
          <span class="service-subtitle">conoce más de mi 🥵🥵🥵</span>
        </a>
      </section>
    </main>
  </div>
</body>
</html>
